<style>

div.parent {
    // take maximum width and height
    size: *;

    // set layout
    flow: row(h2,div,h2);
}

div.parent > div {
    margin: 5dip;

    size: *;

    border: 1dip solid white;

    background: rgb(210,210,210);

    text-align: center;

    // < 6.0
    vertical-align: middle;

    // >= 6.0
    content-vertical-align: middle;
}

div.parent > h2 {
    padding: 0.5em;

    // < 6.0
    vertical-align: middle;

    // >= 6.0
    content-vertical-align: middle;
}

</style>
<div .parent>
    <h2>1</h2>
    <div>1</div>
    <h2>1</h2>
    <h2>2</h2>
    <div>flow: row(h2,div,h2);</div>
    <h2>2</h2>
    <h2>3</h2>
    <div>3</div>
    <h2>3</h2>
    <h2>4</h2>
    <div>4</div>
    <h2>4</h2>
</div>
