<style>

div.parent {
    // take maximum width and height
    size: *;

    // set layout
    flow: horizontal-wrap;
}

div.parent > div {
    margin: 5dip;

    size: 200dip;

    border: 1dip solid white;

    background: rgb(210,210,210);

    text-align: center;

    // < 6.0
    vertical-align: middle;

    // >= 6.0
    content-vertical-align: middle;
}

</style>
<div .parent>
    <div>1</div>
    <div>flow: horizontal-wrap;</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>
